@media (max-width: 1270px) {
    // === header ===
    .header {

        &__bottom-btn {
            margin-right: 20px;
        }

        &__bottom-info {
            margin-right: 20px;
        }
    }

    // === about === 
    .about {
        padding-top: 100px;
        padding-bottom: 50px;

        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__text-box {
            text-align: center;
        }

        &__title {
            margin-bottom: 100px;
        }
    }
}

@media (max-width: 1211px) {
    // === about === 
    .about {
        &__text-box {
            order: -1;
            margin-bottom: 50px;
            max-width: 100%;
            margin-left: 0;
        }

        &__title {
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 1203px) {
    // === header ===
    .header {
        &__bottom-btn {
            margin-bottom: 30px;
        }

        &__bottom-info {
            margin-bottom: 30px;
        }
    }

    // === partners ===
    .partners {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 1159px) {
    // === header ===
    .header{
        &__top {
            padding: 40px 15px;
        }

        &__title {
            text-align: center;
            margin: 0 auto 50px auto;
        }

        &__clock {
            margin: 0 auto;
        }
    }
}

@media (max-width: 1100px) {
    // === start ===
    .start {
        padding-top: 50px;
        padding-bottom: 50px;

        &__title-box {
            // width: 100%;
            margin: 0 auto 50px auto;
            justify-content: center;
        }

        &__text {
            margin: 0 auto 80px auto;
            text-align: center;
            max-width: 100%;
        }

        &__scale {
            flex-direction: column;
            align-items: center;
        }

        &__scale-item {
            width: 100%;
            text-align: center;
        }

        &__scale-text {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    // === about ===
    .about {
        padding-top: 60px;  
    }

    // === start ===
    .start {
        padding-top: 30px;
    }

    // === benefits ===
    .benefits {
        padding-top: 50px;
        padding-bottom: 35px;

    }

    // === partners ===
    .partners {

        &__title-box {
            // margin: 0 auto;
            text-align: center;
            justify-content: center;
            margin-bottom: 56px;
        }

        &__items {
            grid-template-columns: repeat(3, 1fr);
        }

        &__item:nth-child(1), 
        &__item:nth-child(2), 
        &__item:nth-child(3), 
        &__item:nth-child(4), 
        &__item:nth-child(5), 
        &__item:nth-child(6), 
        &__item:nth-child(7), 
        &__item:nth-child(8){
            border: none;
        }
    }

    // === footer ===
    .footer {
        padding-top: 50px;
    }
}

@media (max-width: 877px) {
    // === header ===
    .header {
        
        &__top {
            padding: 20px 15px;
        }
    }

    .burger {
        display: block;
    }

    .menu__list, .header__top-btn {
        display: none;
    }

    // === start ===
    .start {

        &__text {
            margin: 0 auto 40px auto;
        }

        &__scale-color-100, 
        &__scale-color-75, 
        &__scale-color-50, 
        &__scale-color-overall {
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }

    // === benefits ===
    .benefits {

        &__title {
            margin-bottom: 80px;
        }
    }

    // === partners ===
    .partners {

        &__items {
            grid-template-columns: repeat(2, 1fr);
            // justify-content: center;
            // align-items: center;
        }

        &__item-img {
            margin: 0 auto;
        }
    }

    // === program ===
    .program {
        padding-top: 30px;

        &__img {
            display: none;
        }
    }

    // === teachers ===
    .teachers {
        padding-top: 50px;
        padding-bottom: 50px;

        &__text-box {
            margin-bottom: 100px;
            justify-content: center;
        }
    }
}

@media (max-width: 861px) {
    // === teachers ===
    .teachers {

        &__items {
            flex-direction: column;
            justify-content: center;
        }

        &__item {
            width: 100%;
            padding: 0;
        }
    }
}

@media (max-width: 786px) {
    // === header ===
    .header {

        &__title {
            font-size: 44px;
            line-height: 50px;
        }
    }

    // === about ===
    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    // === start ===
    .start {

        &__title-box {
            margin: 0 auto 40px auto;
        }
    }

    // === benefits ===
    .benefits {

        &__title {
            line-height: 45px;
        }
    }

    .title {
        font-size: 40px;
        line-height: 50px;
    }

    // === footer ===
    .footer {

        &__btn {
            top: 59%;
        }
    }
}

@media (max-width: 775px) {
    // === benefits ===
    .benefits {

        &__content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__item {
            margin-right: 0;
            max-width: 100%;
        }

        &__item-img {
            margin-bottom: 40px;
        }

        &__item-title {
            max-width: 100%;
        }
    }
}

@media (max-width: 682px) {
    // === header ===
    .header {
        &__clock-item {
            padding: 13px 27px;
        }
    }

    // === about ===
    .about {
        padding-bottom: 25px;
    }

    // === start ===
    .start {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    // === program ===
    .program {
        padding-bottom: 40px;
    }

    // === footer ===
    .footer {

        &__input {
            padding: 12px 30px 9px 30px;
            margin: 0 auto;
        }

        &__btn {
            position: relative;
            right: 0;
            top: 0;
            width: 91%;
            margin-top: 30px;
        }
    }
}

@media (max-width: 580px) {
    // === partners ===
    .partners {
        padding-top: 25px;
        padding-bottom: 25px;

        &__img {
            display: none;
        }

        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            padding: 14px 52px;
        }
    }

}

@media (max-width: 500px) {
    // === header ===
    .header {

        &__title {
            font-size: 35px;
            line-height: 45px;
            margin: 0 auto 36px 0;
        }

        &__clock-item {
            padding: 10px 20px;
        }

        &__clock-time {
            font-size: 32px;
            line-height: 43px;
        }

        &__bottom {
            padding: 26px 0;
        }

        &__bottom-btn {
            width: 100%;
            margin-right: 0;
            text-align: center;
        }

        &__bottom-info {
            margin: 0 auto 30px auto;
        }
    }

    // === about ===
    .about {
        padding-top: 30px;
        padding-bottom: 30px;

        &__title {
            margin-bottom: 35px;
        }

        &__text {
            font-size: 15px;
        }
    }

    // === start ===
    .start {

        &__title-box {
            margin: 0 auto 40px auto;
        }

        &__scale-color-100, 
        &__scale-color-75, 
        &__scale-color-50, 
        &__scale-color-overall {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    // === parnters ===
    .partners {

        &__title-box {
            margin-bottom: 30px;
        }

        &__item {
            padding: 8px 52px;
        }

        
    }

    // === benefits ===
    .benefits {
        padding-bottom: 10px;

        &__title {
            margin-bottom: 50px;
        }
    }

    // === teachers ===
    .teachers {

        &__text-box {
            margin-bottom: 60px;
        }

        &__title {
            margin-left: 0;
        }

        &__img {
            display: none;
        }

        &__item-avatar {
            width: 150px;
            height: 150px;
        }
    }

    .title {
        font-size: 33px;
    }
    
}

@media (max-width: 500px) and (max-height: 600px) {
    .go-to-top {
        right: 50%;
        transform: translateX(50%);
        bottom: 16px;
    }

    .footer {
        padding-bottom: 80px;
    }
}

@media (max-width: 410px) {
    // === header ===
    .header {

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__clock-item {
            padding: 10px 10px;
        }

        &__clock-time {
            font-size: 27px;
            line-height: 40px;
        }
    }

    // === about ===
    .about {
        padding-top: 40px;
        padding-bottom: 40px;

        &__title {
            margin-bottom: 30px; 
        }

    }

    // === partners ===
    .partners {

        &__item-img {
            width: 70%;
        }
    }

    // === teachers ===
    .teachers {
        padding-bottom: 20px;

        &__item {
            margin-bottom: 40px;
        }

        &__item-name {
            font-size: 22px;
            margin-bottom: 12px;
        }

        &__item-speciality {
            margin-bottom: 24px;
        }
    }

    // === footer ===
    .footer {
        padding-top: 30px;
    }

    .title {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (max-width: 370px) {
    // === header ===
    .header {

        &__title {
            font-size: 26px;
            line-height: 40px;
        }
    }

    .title {
        font-size: 25px;    
    }
}
